# .env.example
# Copier en .env.local pour le développement

# URL de l'API backend (laisser vide = mode démo sans backend)
VITE_API_URL=

# Exemple production :
# VITE_API_URL=https://api.fidapp.fr

# Pour une démoi en local sur téléphone + cette commande : npm run dev -- --host
VITE_API_URL=http://TON_IP_LOCAL:3000 
